@font-face {
font-family: CodeFont;
src: url(../fonts/Menlo-Regular.ttf);
}

@font-face {
font-family: TextFont;
src: url(../fonts/Aller_Rg.ttf);
}

@media only screen and (max-width: 1024px) {
body {
    background-color: #161616;
        font-family: TextFont;
    color: #cdaa7d;
    margin:0;
}

pre code {
 display: block;
// background-color: black;
 margin:auto;
 font-family: CodeFont;
 line-break: strict;
 white-space: pre-wrap;
 width:90%;
}

.Padded {
//    border:1px solid white;
    margin:auto;
    padding:2%;
    width:96%;
//    height:94%;
}

nox-tut-title {
    font-size:3em;
    padding:1%;
    display:block;
    width:100%;
    background-color:#161616;
//    position:fixed;

//    border:1px solid white;
}

nox-tut-menu {
//word-wrap: break-word;
font-size:3em;
//list-style-type: none;
    margin:auto;
width:70%;
display:block;
//    padding:10%;
//    disaply:inline;
//    background-color:#161616;
//    position:fixed;
    border:1px solid white;
}

nox-tut-menu ul {
    display: inline;
//    margin:auto;
//    width:80%;
//        border:1px solid white;
}

nox-tut-menu ul li {
    display: inline;
//        border:1px solid white;
//    margin:auto;
//    width:100%;
}

}

@media only screen and (min-width: 1024px) {
body {
    background-color:#161616;
    font-family: TextFont;
    color: #cdaa7d;
    margin:0;
}

.Padded {
//    border:1px solid white;
margin:auto;
    padding-top:2cm;
    padding-left:1%;
    padding-right:1%;    
    width:70%;
//    height:94%;
}

pre code {
 display: block;
// background-color: black;
margin:auto;
    line-break: strict;
    white-space: pre-wrap;
 font-family: CodeFont;    
 width:90%;
}

nox-tut-title {
    font-size:3em;
    padding:1%;
    width:100%;
    background-color:#161616;
    position:fixed;

//    border:1px solid white;
}

nox-tut-menu {
word-wrap: break-word;
font-size:1em;

    margin-top:10%;
    width:15%;
    background-color:#161616;
    position:fixed;
//    border:1px solid white;
}

nox-tut-menu ul {
    list-style-type: none;
    font-size: 2em;
//    margin: 0;
//    padding:0;
}

}

.nox-code-box {
    /* Below are styles for the codebox (not the code itself) */
    border:1px solid black;
//    background-color:#EEEEFF;
bgcolor=#161616;
    border-style: black;
    border-color: white;
    width:90%;
    overflow:auto;
    margin:auto;
//    padding:5%;
}
.nox-code-box nox-code {
    /* Styles in here affect the text of the codebox */
    font-size:1em;
    line-break: strict;
    white-space: pre-wrap;
    fg-color: #cdaa7d;
    color: #cdaa7d;
//    font-family: "Menlo", Menlo, monospace;
    font-family: CodeFont;    
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}

.nox-code-box kw {
    //    font-weight: bold;

//   color: #8ae234;
//   color: #8ae234;
color: #F92672;
//   color: #b22222;
}
